<%- include("partials/header.ejs") %>

<% if (locals.post && locals.index) { %>
    <h2 class="postTitle"><%= post.postTitle %></h2>
    <p class="postContent"><%= post.postContent %></p>
    <a class="btn btn-light btn-md px-4" href="/edit/<%=index%>" title="Edit this post">Edit</a>
    <hr>
<% } else { %>
    <h2 class="postTitle">Post not found</h2>
    <a href="/" title="Return Home" class="btn btn-light btn-md px-4">Return Home</a>
<% } %>

<%- include("partials/footer.ejs") %>